<div *ngIf="show" class="modal-backdrop">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ title }}</h5>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            
            <div class="modal-body">
                <form>
                    
                    <div class="mb-3">
                        <input 
                            type="text" 
                            class="form-control" 
                            [placeholder]="field1Placeholder" 
                            [(ngModel)]="field1Value" 
                            name="field1">
                    </div>

                    <div class="mb-3">
                        <input 
                            type="text" 
                            class="form-control" 
                            [placeholder]="field2Placeholder" 
                            [(ngModel)]="field2Value" 
                            name="field2">
                    </div>

                    <div class="mb-3">
                        <input 
                            type="text" 
                            class="form-control" 
                            [placeholder]="field3Placeholder" 
                            [(ngModel)]="field3Value" 
                            name="field3">
                    </div>
                </form>
            </div>
            
            <div class="modal-footer d-flex justify-content-end gap-2"> 
                <button type="button" class="btn btn-secondary" (click)="close()">Cancelar</button>
                
                <button type="button" class="btn btn-primary" (click)="onSubmit()">{{ btnText }}</button>
            </div>
        </div>
    </div>
</div>