<header-adm-emp
  [title]="'Empleado'"
  [avatarSrc]="'assets/maradona_avatar.png'"
  [closeLink]="'/iniciar_sesion'"
></header-adm-emp>

<main class="container pb-5">
	<div class="card shadow-sm">
        @for (item of empleadoTiles; track item.link) {
            <app-card_base [link]="item.link">
                
                <div class="tile d-flex align-items-center">
                    <div class="ico"><i class="bi {{ item.icon }}"></i></div>
                    <div class="flex-grow-1">{{ item.title }}</div>
                    </div>
            </app-card_base>
        }
	</div>
</main>