<article class="card border-0 shadow-sm position-relative">
    <a routerLink="/detalle_producto" class="stretched-link">
      <span class="visually-hidden"></span>
    </a>
      <div class="card-body d-flex gap-3">
        <img src="assets/hamburguesa_doble.png" class="prod-img" alt="Hamburguesa doble">
        <div class="flex-grow-1">
          <div class="d-flex justify-content-between">
            <h6 class="mb-1">Hamburguesa doble</h6>
            <strong>$18.000</strong>
          </div>
          <div class="small">
            <i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i>
            <i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i>
            <i class="bi bi-star star"></i>
          </div>
        </div>
      </div>
    </article>