<div class="mb-3">
    <input type="text" class="form-control" placeholder="Buscar empleado" 
           [(ngModel)]="nombreABuscar" (input)="buscar()"> 
</div>


@for (empleado of empleados; track empleado.id_usuario) {
    <app-card-fila2
        [actions]="getActions(empleado)"
    >
        <div>
            <div class="fw-semibold mb-1">{{ empleado.nombre }} {{empleado.apellido}}</div>
            <div class="small text-muted">Email: {{ empleado.email }}</div>
            <div class="small text-muted">Celular: {{ empleado.celular }}</div>
        </div>
    </app-card-fila2>
}

<nav aria-label="Paginacion" class="mt-4">
  <ul class="pagination pagination-sm justify-content-center">

    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" 
         (click)="goToPage(currentPage - 1)" 
         style="cursor: pointer;">
        Anterior
      </a>
    </li>

    @for (page of getPagesArray(); track page) {

      <li class="page-item" [class.active]="page === currentPage">
        <a class="page-link" 
           (click)="goToPage(page)" 
           style="cursor: pointer;">
          {{ page }}
        </a>
      </li>
    }

    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" 
         (click)="goToPage(currentPage + 1)" 
         style="cursor: pointer;">
        Siguiente
      </a>
    </li>

  </ul>
</nav>