<header class="app container top d-flex align-items-center justify-content-center position-relative">
	<a routerLink="/empleados_pedidos" class="position-absolute start-0 ms-2 text-dark"><i class="bi bi-chevron-left"></i></a>
	<strong>Estado de pedidos</strong>
	<img src="assets/maradona_avatar.png" class="position-absolute end-0 me-2 avatar" alt="avatar empleado">
</header>

<main class="app container pb-5">
    @for (pedido of pedidos; track pedido.numero) {
        <div class="row-card position-relative">
            <div class="d-flex justify-content-between">
                <div>
                    <div class="fw-semibold">Pedido #{{pedido.numero}}</div>
                    <div class="small text-muted">Usuario:<br>Dirección:</div>
                </div>
                <span class="chip" [ngClass]="pedido.estadoClass">{{pedido.estado}}</span>
            </div>
            
            <a routerLink="/actualizar_estado" 
               class="stretched-link" 
               [attr.aria-label]="'Abrir pedido #' + pedido.numero">
            </a>
        </div>
    }

	<nav class="mt-3" aria-label="Paginación">
        </nav>
</main>