<header class="app container top d-flex align-items-center justify-content-center position-relative">
  <a routerLink="/pagina_principal_empleados" class="position-absolute start-0 ms-2 text-dark">
    <i class="bi bi-chevron-left"></i></a>
  <strong>Bloquear clientes</strong>
  <img src="assets/maradona_avatar.png" alt="Empleado" class="position-absolute end-0 me-2 avatar">
</header>

<main class="app container pb-5">

  @for (cliente of clientes; track cliente.id) {
      <app-card_fila 
          [actions]="getClienteActions(cliente.id)"
      >
        <div content>
            <div class="fw-semibold">{{ cliente.nombre }}</div>
            <div class="small text-muted">Mail: {{ cliente.mail }}</div>
            <div class="small text-muted">Dirección: {{ cliente.direccion }}</div>
        </div>
      </app-card_fila>
  }
</main>