<header class="app container top d-flex align-items-center justify-content-center position-relative">
  <a routerLink="/pagina_principal_empleados" class="position-absolute start-0 ms-2 text-dark">
    <i class="bi bi-chevron-left"></i></a>
  <strong>Bloquear clientes</strong>
  <img src="assets/maradona_avatar.png" alt="Empleado" class="position-absolute end-0 me-2 avatar">
</header>

<main class="app container pb-5">
  <div class="row-card">
    <div class="d-flex justify-content-between">
      <div>
        <div class="fw-semibold">Cliente #1</div>
        <div class="small text-muted">Mail:</div>
        <div class="small text-muted">Dirección:</div>
      </div>
  <button type="button" class="red-link btn btn-link p-0 m-0">Bloquear</button>
    </div>
  </div>

  <div class="row-card">
    <div class="d-flex justify-content-between">
      <div>
        <div class="fw-semibold">Cliente #2</div>
        <div class="small text-muted">Mail:</div>
        <div class="small text-muted">Dirección:</div>
      </div>
  <button type="button" class="red-link btn btn-link p-0 m-0">Bloquear</button>
    </div>
  </div>

  <div class="row-card">
    <div class="d-flex justify-content-between">
      <div>
        <div class="fw-semibold">Cliente #3</div>
        <div class="small text-muted">Mail:</div>
        <div class="small text-muted">Dirección:</div>
      </div>
  <button type="button" class="red-link btn btn-link p-0 m-0">Bloquear</button>
    </div>
  </div>

</main>
