
.app.container.top {
    height: 60px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: relative; 
    padding-top: 10px;
    padding-bottom: 10px;
}


.app.container.top .position-absolute {
    top: 50%;
    transform: translateY(-50%);
}


.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}


