<header-opc 
  title="Clientes"
  returnlink="/pagina_principal_admin"
  profileImage="assets/avatar_admin.png"
  [showButton]="true"
  buttonText="Validacion"
  buttonLink="/validacion_clientes"
></header-opc>

<main class="app container pb-5">

  @for (cliente of clientes; track cliente.id) {
    <app-card-fila2
      [actions]="getActions(cliente)"
    >
      <div>
        <div class="fw-semibold">{{ cliente.nombre }}</div>
        <div class="small text-muted">Mail: {{ cliente.email }}</div>
        <div class="small text-muted">Dirección: {{ cliente.direccion }}</div>
        <div *ngIf="cliente.bloqueado" class="small text-danger fw-bold">BLOQUEADO</div>
      </div>
    </app-card-fila2>
  }


  <nav class="mt-4" aria-label="Paginación">
    <ul class="pagination pagination-sm justify-content-center">
      <li class="page-item active"><span class="page-link">1</span></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
  </nav>
</main>